In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from math import exp

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
X=np.array(data['Age']).reshape(-1,1)
Y=np.array(data['Purchased']).reshape(-1,1)

In [ ]:
# Divide the data to training set and test set
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.20)

In [ ]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)

In [ ]:
# Returns a NumPy Array
y_pred=logisticRegr.predict(X_test)
print(y_pred)

In [ ]:
plt.scatter(X_test, y_test)
plt.scatter(X_test, y_pred, c="red")
 
plt.show()

In [ ]:
# Use score method to get accuracy of model
score = logisticRegr.score(X_test, y_test)
print(score)

0.85