In [ ]:
# K-NN
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
df = pd.read_csv('breast-cancer-wisconsin.data.txt')
df.replace('?','-999999',inplace=True)
df.drop(['id'],axis=1,inplace=True)
df["x6"] = df["x6"].astype(int)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      699 non-null    int64
 1   x2      699 non-null    int64
 2   x3      699 non-null    int64
 3   x4      699 non-null    int64
 4   x5      699 non-null    int64
 5   x6      699 non-null    int64
 6   x7      699 non-null    int64
 7   x8      699 non-null    int64
 8   x9      699 non-null    int64
 9   label   699 non-null    int64
dtypes: int64(10)
memory usage: 54.7 KB

   x1  x2  x3  x4  x5  x6  x7  x8  x9  label
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [ ]:
x  = df.drop("label",axis=1)
y  = df["label"]
y.head()
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=70)
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.20)
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=70, p=2,
                     weights='uniform')

In [ ]:
print(model.predict([[5,1,1,1,2,1,3,1,1]]))
print(model.predict([[9,8,7,7,5,8,9,9,8]]))
Y_pred=model.predict(X_test)

[2]
[4]

In [ ]:
score=metrics.accuracy_score(y_test,Y_pred)
print(score)

0.95

In [2]:
print(metrics.confusion_matrix(y_test, y_pred))

NameError: name 'metrics' is not defined